
@media screen and (max-width: 768px) {
    .container {
        width: 90%; 
        min-height: auto; 
        max-height: none; 
        margin: 30px 0;
    }

   
    .login-left, 
    .signup-left {
        display: none; 
    }

  
    .login-right, 
    .signup-right {
        width: 100%; 
        padding: 40px 20px; 
    }

    .login-right h2, 
    .signup-right h2 {
        font-size: 24px; 
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
   
    .container {
        width: 90%; 
    }

    .login-right, 
    .signup-right {
        padding: 30px 20px; 
    }

    .login-right h2, 
    .signup-right h2 {
        font-size: 24px;
    }
}